html {
    font-size: 10px;
}

body {
    margin: 0px;
    padding: 0px;
}
.container {
    display: grid;
    grid-template-columns: repeat(12,fr);
    /*grid-template-rows: 6vh 90vh 4vh;*/
    grid-gap: 0.5vh;
    grid-template-areas:
        "h h h h h h h h h h h h h"
        "n n c c c c c c c c c c c"
        "f f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    display: flex;
}
.footer {
    grid-area: f;
}




@media (min-width: 1000px) {

    #menu a:hover, #menu a.active{
        background: #ACDCF2;
        color: black;
        background-clip: padding-box;

    }

    #menu li{
        display: inline-block;
        /*     border: 0.5px solid black; */
    }

}

#menu {
    background-color: #BEE2F2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#logo {
    padding: 0.8rem 0.8rem 0rem  1rem;
    float: left;
    width: 7rem;
    height: 7rem;
}

#menu ul{
    list-style-type:none;
    margin: 0px auto;

}
#menu a:link, #menu a:visited{
    color: #3082A6;
    text-decoration:none;
    padding: 0.1rem 8rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 8rem;
    display: block;
}

#menu {
    align-items: center;
    justify-content: center;
    display: flex;
}

















